ellipsis($width = 100%,$line-clamp = 1)
    width $width
    display -webkit-box
    -webkit-line-clamp $line-clamp //css3新增，chrome和safari支持,多行文本溢出
    -webkit-box-orient vertical
    overflow hidden
