@import "border.styl"
@font-face
  font-family 'iconfont';
  src url('~@/assets/icons/iconfont.woff') format('woff'),
  url('~@/assets/icons/iconfont.ttf') format('truetype');

.movie-ico
  font-family iconfont
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  vertical-align middle
